{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div>
        <main class="container py-5 text-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ stock["symbol"] }}</td>
                        <td>{{ stock["name"] }}</td>
                        <td>{{ stock["shares"] }}</td>
                        <td>{{ usd(stock["price"]) }}</td>
                        <td>{{ usd(stock["shares"] * stock["price"]) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>CASH</b></td>
                        <td>{{ usd(cash) }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>TOTAL</b></td>
                        <td>{{ usd(total) }}</td>
                    </tr>
                </tfoot>
            </table>
        </main>
    </div>
{% endblock %}
